osx_image: xcode7.3
language: objective-c


env:
  global:
    - LC_CTYPE=en_US.UTF-8
    - LANG=en_US.UTF-8


before_install:
    - gem install cocoapods --no-rdoc --no-ri --no-document --quiet
    - pod install --project-directory=Example --no-rdoc --no-ri --no-document --quiet
    
script:
- set -o pipefail && xcodebuild test -workspace Example/YStaticContentTableView.xcworkspace -scheme YStaticContentTableView-Example -sdk iphonesimulator9.3 ONLY_ACTIVE_ARCH=NO | xcpretty
- pod lib lint
